@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    font-family: 'Lora', serif;
}

body {
    background-color: #FFFCE6;
}

#banner-img {
    background-image: url(../media/tacos-banner2.jpg);
    height: 80vh;
    background-size: 100% 100%;
}

#card-boxes {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.footer-links {
    padding-top: 10px;
    padding-bottom: 10px;
}

header img {
    height: 9rem;
}

header {
    background-color: #DEAB51;
    height: 10rem;
}

p {
    max-width: 35em;
}

.gravity {
    display: flex;
    align-items: center;
}

footer img {
    margin-left: 0px;
    height: 15rem;
}

h1 {
    padding-bottom: 7px;
}

main {
    padding-bottom: 30px;
}

.search-hover {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 25px;
    transition: all 0.5s;
  }
  .search-hover:hover {
    width: 300px;
    padding-left: 50px;
  }

  .title {
    text-align: center;
    margin: 20px;
  }

  .fas.fa-heart:hover {
    color: #f44336 !important;
  }
  
  .fas.fa-share-alt:hover {
    color: #0d47a1 !important;
  }

  @media only screen and (max-width: 600px) {
    footer img {
        height: 10rem;
    }
  }
