@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    font-family: 'Lora', serif;
}
#banner-img {
    background-image: url(tacos-banner2.jpg);
    height: 100vh;
    background-size: 100% 100%;
}

#card-boxes {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

footer {
    margin-top: 30px;
    background-color: #DEAB51;
}

.footer-links {
    padding-top: 10px;
    padding-bottom: 10px;
}

header img {
    margin-left: 0px;
    height: 25%;
    width: 25%;
    vertical-align: middle;
}

header {
    background-color: #DEAB51;
}

p {
    max-width: 35em;
}

footer img {
    margin-left: 0px;
    height: 25%;
    width: 25%;
}

h1 {
    padding-bottom: 7px;
}
